# boot, user, and kernel are owned by amlal@nekernel.org.
/private/minkernel/ @amlel-el-mahrouss
/private/minloader/ @amlel-el-mahrouss
/private/libDDK/ @amlel-el-mahrouss
/private/libMsg/ @0xf00sec
/private/libSystem/ @0xf00sec
# some other parts (tools, frameworks) need ownership too.
/public/ @amlel-el-mahrouss
/tools/ @0xf00sec