#!ipxe

# Figure out if we're capable of long-mode (64-bit addressing)
cpuid --ext 29 && set arch x64 || set arch x86
cpuid --ext 29 && set archl amd64 || set archl i386

# Main Boot Menu
:start
menu iPXE boot menu
item --gap --             -------------------------------Installation ------------------------------
item --key w wds          BootZ
item --gap --             ------------------------- Advanced options -------------------------------
item --key c config       Configure settings
item shell                Drop to iPXE shell
item reboot               Reboot computer
item
item --key x exit         Exit iPXE and continue EFI boot
choose --timeout 5000 --default boot_z selected || goto cancel
set menu-timeout 0
goto ${selected}

# In case the user cancels the menu. 
:cancel
echo [NE_SYSTEM] You cancelled the menu, dropping you to a shell

:shell
echo [NE_SYSTEM] Type 'exit' to get the back to the menu
shell
set menu-timeout 0
set submenu-timeout 0
goto start

:failed
echo [NE_SYSTEM] Booting failed, dropping back to shell
goto shell

:reboot
reboot

:exit
exit

:config
config
goto start

:back
set submenu-timeout 0
clear submenu-default
goto start

:boot_z
chain EFI\BOOT\BOOTX64.EFI || goto failed
goto start
